body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(wood.jpg) repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
/* Turn the links red */
a {
	color: red;
}

/* Make the name 36px font and italicized */

th {color: maroon;
}



/* Set the font family for the whole document, and add a background image */
body {
	font-family: 'Droid Sans', arial;
	background-image: url(wood.jpg);
	background-size: cover;
	background-postion: center center;
	background-attachment: fixed;
}


/* Give the paragraphs and lists a 26px line height */

p, li {
	line-height: 26px;
}

/* Make the content of the page "sit on top of" the background */
div#wrapper {
	background-color: white;
	width: 960px;
	margin: 20px auto;
	padding: 20px;
	opacity: 0.96;
}

/* Make it so you can see the footer and center it */
#footer {
	color: white;
	margin: 20px auto;
	padding: 20px;
	text-align: center;
}